# OS
.DS_Store
Thumbs.db

# Dependencies
node_modules

# Environment
.env
.env.local
.env.*.local

# Build outputs
dist
build

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*

# Testing
coverage
.nyc_output

# Prisma
prisma/migrations/*.sql.pending

# Misc
.notes/
*.tsbuildinfo
.turbo